div.item {
  padding: 0 0 0 0;
  min-height: 30px;
  position: relative;
}

div.item > span {
  position: absolute;
  top: 4px;
  right: 20px;
  opacity: 0;
  transition: opacity .25s linear;
}

div.item:hover > span {
  opacity: 1;
}

div.item > textarea {
  height: 80px;
}

body {
  background-color: #eee;
}

div.container {
  background-color: #fff;
}
